<div id="info"><div class="content">
<p><h1>Kaljaa Privacy Policy:</h1></p>

<p>Welcome to Kaljaa, a website owned by Dew Boms L.L.C. Kaljaa is a social network specifically designed for the beer industry and culture. Like any social network, Kaljaa is made for the exchange of information and content between you and your peers. Kaljaa provides privacy settings to limit what information you wish to display. Information involving credit cards payments will not be shared; it will be encrypted and kept hidden through a third party company that processes Kaljaa&#39s credit card payments. Kaljaa reserves the right to change its privacy policy at anytime. In this event Kaljaa will alert all users, but it is your responsibility to read and be up to date on the privacy policy. We will now list more specific points of our privacy policy. We want to thank you and hope you enjoy the world of beer brought to you through Kaljaa.
</p>
<p class="important">We do not promote or condone underage drinking. You must be of drinking age in your country of residence to be a member of Kaljaa, if not you will be ask to remove your profile. Please drink responsibly and do not drink and drive.</p>
<p><b>Payments.</b>All payments will be made by credit or debit card on Kaljaa. When making a payment you will be redirected to a secure third party company to process the transaction. The third party company shall keep your information secured and only use it to process the payment. Payments will only apply to the specified profile you choose, maintaining the monthly subscription fee to have certain types of profile on Kaljaa.
</p>
<p><b>Information About Yourself or your Company.</b> When you sign up for Kaljaa, you provide us with your name, email, gender, birth date, and company name if applicable. Once you register you can provide other information about yourself by connecting with, for example, your current city, hometown, family, relationships, networks, activities, pictures, interests, and places. You can also provide personal information about yourself, such as your political and religious views. All information you provide is at your discretion; We caution you to not provide or post anything that you do not want to be seen by others, despite the presence of privacy settings.
</p>
<p><b>Content.</b> One of the primary reasons people use Kaljaa is to share content with others. Examples include when you update your status, upload a photo, share a link, create an event or a group, make a comment, or send someone a message. If you do not want us to store metadata associated with content you share on Kaljaa (such as photos), please remove the metadata before uploading the content. 
</p>
<p><b>Site activity information.</b> Kaljaa keeps track of information on your profile, such as hometown, blogs, interests, activities, beer reviews, etc. and uses it for marketing data to provide to paying users. The information from all profiles will be grouped together provided as anonymous, so your information will not be tagged as your information. Everything provided for the marketing data will be anonymous. Also all ratings you put on the site, not including posts and text reviews, will be anonymous.
</p>
<p><b>Access Device and Browser Information.</b> When you access Kaljaa from a computer, mobile phone, or other device, we may collect information from that device about your browser type, location, and IP address, as well as the pages you visit.
</p>
<p><b>Information from other users.</b> We may collect information about you from other Kaljaa users, such as when you are tagged in a photo.
</p>
<p><b>Sharing Information on Kaljaa.</b> Kaljaa provides privacy settings for your profile. It is your duty to enable the ones you wish to use. Privacy settings include, but not limited to: name, profile, contact information, posts, and photos.
</p>
<p><b>Third Party Websites</b> In Kaljaa, there will be links to other websites, either through other profiles or ads. You should always review the policies of third party applications and websites to make sure you are comfortable with the ways in which they use information you share with them. We are not responsible for the privacy practices of other sites.
</p>
<p><b>Advertisements.</b> Kaljaa is using Google Adsense. For more information please go to Google and read their policy on how Google Adsense is administered.
</p>
<p><b>Exporting Information.</b> You (and those to whom you make your information available) may use tools like RSS feeds, mobile phone address book applications, or copy and paste functions, to capture, export (and in some cases, import) information from Kaljaa, including your information and information about you. For example, if you share your phone number with your friends, they may use third party applications to sync that information with the address book on their mobile phone.
</p>
<p><b>How We Use Your Information.</b> We use the information we collect to provide our services and features to you, to measure and improve those services and features, and to provide you with customer support. We may contact you with service-related announcements from time to time. We will also use your information to help your friends find you. We allow other users to use contact information they have about you, such as your email address, to find you, including through contact importers and search. You can prevent other users from using your email address to find you using your privacy settings.
</p>
<p><b>How We Share Information.</b> Kaljaa is about sharing information with others, friends and people in your communities, while providing you with what you can use to restrict other users from accessing some of your information. We share your information with third parties when we believe the sharing is permitted by you, in a manner reasonably necessary to offer our services, or when legally required to do so. We make certain information you have posted to your profile available in search results on Kaljaa to help your friends find you. However, you can control who can see some of this information, as well as who can find you in searches, through your privacy settings.
</p>
<p><b>Change of Ownership.</b> If the ownership of all or substantially all of our business changes, we may transfer your information to the new owner so that the service can continue to operate. In such a case, your information would remain subject to the promises made in any pre-existing Privacy Policy.
</p>
<p><b>How You Can Change or Remove Information.</b> While you are on Kaljaa you can change or remove information by editing your profile, delete uploaded contacts, deactivating or deleting your account. Although you may delete or change your profile, copies of that information may remain viewable elsewhere to the extent it has been shared, copied, or stored by other users.
</p>
<p><b>Backup Copies.</b> Removed and deleted information may persist in backup copies for a predetermined amount of time, but will not be available to others.
</p>
<p><b>How Kaljaa keeps your information secure.</b> We keep your account information on a secured server behind a firewall. When you enter sensitive information (such as credit card numbers and passwords), we encrypt that information using secure socket layer technology (SSL). We also use automated and social measures to enhance security, such as analyzing account behavior for fraudulent or otherwise anomalous behavior. We may limit use of site features in response to possible signs of abuse, may remove inappropriate content or links to illegal content, and may suspend or disable accounts.
</p>
<p><b>Risks inherent in sharing information.</b>Although we allow you to set privacy options that limit access to your information, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you share your information. We cannot guarantee that only authorized persons will view your information. We cannot ensure that information you share on Kaljaa will not become publicly available. We are not responsible for third party circumvention of any privacy settings or security measures on Kaljaa. You can reduce these risks by using common sense security practices such as choosing a strong password, using different passwords for different services, and using up to date antivirus software.
</p>
Copyright Kaljaa 2010
</div></div>
