<div id="info"><div class="content" style="height: 300px;">
<p><h1>Support</h1></p>

<ul>
<p><li><b>For comments, ideas, suggestions, and beer goggle
compliments email us at:</b><br/>
beerme@kaljaa.com</li></p>

<p><li><b>For errors, bugs or problems you encounter please
email us at:</b><br/>
support@kaljaa.com</li></p>

<p><li><b>If you are a Brewery, Media, Association, Clubs,
Organizations, Suppliers, Distributors, etc. Basically
if you are not going to be or not using a Social Profile
or have general business questions please email us
at:</b><br/>
industry@kaljaa.com</li></p>
</ul>

<p>Customer Service Number: 703-789-0506
(currently not connected, please email us and we will
give you a number you can get in contact with us)</p>
</div></div>
