<div id="info"><div class="content">

<h1>TERMS OF USE AGREEMENT</h1>

<p>Overview:</p>

<p>This Terms of Use Agreement (the "Agreement") sets forth the terms and conditions which apply to your use of the Kaljaa.com website and all services offered by Dew-Boms L.L.C. By completing the subscription process you are indicating that you agree to be bound by all of the terms in this Agreement.</p>

<p>We reserve the right, at any time, to change or modify the terms and conditions.  When we change and/or update the "Terms of Use Agreement" there will be notification on the site but it is your duty to stay up to date on the "Terms of Use" link.  Your continued use of our service after such a change shall be deemed to constitute acceptance by you of any such changes, modifications, additions or deletions. You agree to review this Agreement periodically to be aware of any such revisions.</p>

<p>Eligibility:</p>

<p>You must be of legal age to consume alcohol in your current residence and at least 18 years of age or older to visit or use this website in any manner.  By visiting Kaljaa.com or accepting these Terms of Use, you represent and warrant to Dew-Boms L.L.C. that you are of legal age to consume alcohol in your current residence and at least 18 years of age or older, and that you have the right, authority and capacity to agree to and abide by these Terms of Use. You also represent and warrant to Dew-Boms L.L.C. that you will use this website in a manner consistent with any and all applicable laws and regulations.</p>

<p>Right to Use:</p>

<p>Your right to use the Service is subject to any limitations, conditions and restrictions established by us from time to time, in our sole discretion. We may alter, suspend or discontinue any aspect of the Service at any time, including the availability of any Service feature, database or content. We may also impose limits on certain features and aspects of the Service or restrict your access to parts or all of the Service without notice or liability.</p>

<p>Code of Conduct and Use of the Service:</p>

<p>We will do our best to keep Kaljaa.com safe, but we cannot guarantee it.  Kaljaa.com is a site that provides the structure for the beer community to flourish.  Kaljaa.com does not have its own opinions, ideas, or statements.  Figuratively speaking, Kaljaa.com provides the roads, buildings, and some general rules but it's up to the users of Kaljaa.com to keep the site clean from devious activities.  Here are some general rules you must follow or could face termination from the site.</p>

<ol>
<li>You will not use the Service to engage in any form of harassment or offensive behavior, including but not limited to the posting of communications, pictures or recordings which contain libelous, slanderous, abusive or defamatory statements, or racist, pornographic, obscene, or offensive language</li>
<li>You will not bully, intimidate, or harass any user.</li>
<li>You will not post content that: is hateful, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</li>
<li>You will not use the Service to infringe the privacy rights, property rights, or any other rights of any person.</li>
<li>You will not send or otherwise post unauthorized commercial communications (such as spam) on Kaljaa.com.</li>
<li>You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on Kaljaa.com</li>
<li>You take full responsibility for any contest, giveaway, sweepstakes, or promotion your profile creates and will follow all applicable laws.</li>
<li>You will not use the Service to distribute, promote or otherwise publish any material containing any solicitation for funds, advertising or solicitation for goods or services</li>
<li>You will not use Kaljaa to do anything unlawful, misleading, malicious, or discriminatory.</li>
<li>You will not upload viruses or other malicious code</li>
<li>You will not use the Service to distribute or up load any virus, trojan horses or do anything else that might cause harm to the Service, Dew-Boms L.L.C. systems or to other members' systems in any way</li>
<li>You will not solicit login information or access an account belonging to someone else</li>
<li>You will not post or transmit in any manner any contact information including, but not limited to, email addresses, "instant messenger" nicknames, telephone numbers, postal addresses, URLs, or full names through your publicly posted information</li>
<li>You will not do anything that could disable, overburden, or impair the proper working of Kaljaa, such as a denial of service attack.</li>
<li>You will not cause the Service to be accessed through an automated or robotic means, including but not limited to the rapid access of the site as in a denial-of-service attack. Such restriction shall not apply to legitimate search engine activity which does not place an unreasonable burden on the Service.</li>
<li>You will not facilitate or encourage any violations of this Statement.</li>
<li>You will not provide any false personal information on Kaljaa, or create an account for anyone other than yourself without permission</li>
<li>You will not share your password, let anyone else access your account unless they have specific permission from you, or do anything else that might jeopardize the security of your account.</li>
<li>You will not transfer your account (including any page or application you administer) to anyone without first getting our written permission.</li>
<li>If you select a username for your account we reserve the right to remove or reclaim it if we believe appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</li>
<li>We can remove any content or information you post on Kaljaa if we believe that it violates this Statement.</li>
<li>If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</li>
<li>You will not use our copyrights or trademarks or any confusingly similar marks, without our written permission.</li>
<li>If you collect information from users, you will: obtain their consent, make it clear you (and not Kaljaa) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it</li>
<li>You will not post anyone's identification documents or sensitive financial information on Kaljaa.</li>

<li>You will not tag users or send email invitations to non-users without their consent.</li>
</ol>
<p>Monitoring Information</p>

<p>Kaljaa.com does not monitor the information being communicated throughout the site, but will investigate, but not required to take action, items that violate our rules of conduct.  Kaljaa.com will provide some tools, but not obligated too, to help the users regulate Kaljaa.com. </p>

<p>With that said, we do reserve the right to monitor all advertisements, public postings, content, and messages to ensure that they conform to content guidelines that are monitored by us and subject to change from time to time</p>

<p>CONTENT BEING POSTED ON KALJAA:</p>

<p>&nbsp&nbsp&nbsp&nbsp&nbspTHROUGH OUT KALJAA, THERE WILL BE BEER REVIEWS, BLOGS, NEWS, ETC.  KALJAA IS NOT RESPONSIBLE FOR ANY CONTENT POSTED ON THE SITE AND CAN NOT BE HELD RESPONSIBLE FOR ANY DAMAGE, MONETARY OR PHYISCAL (INCLUDING PUBLIC IMAGE AND PERCEPTION), THAT IT MAY CAUSE.  SOME INFORMATION BEING PROVIDED BY THE USERS MAY BE SKEWED, ALTERED, MISREPRESENTED, DISTORTED, OR FALSE.  IT IS YOUR JOB TO DO THE DUE DILIGENCE AND RESEARCH THE INFORMATION ON THE SITE TO DETERMINE ITS LEGITIMACY AND TRUTHFULNESS. YOU MAY REPORT ANY PROBLEMS RELATING TO THIS, BUT WE HAVE NO OBLIGATION TO ACT ON IT.</p>

<p>Advertisements on Kaljaa and External Links:</p>

<p>All content from outside advertisement is being conducted by Google Adsense.  Please refer to Google Adsense for all of their Terms and Conditions, Privacy Policy, etc. for their information.</p>

<p>On Kaljaa from time to time, may contain links to other Internet sites and resources. You acknowledge that we are not responsible for, and have no liability as a result of the availability of External Links or their contents.</p>

<p>REMOVAL OF INFORMATION:</p>

<p>While we do not and cannot review every message or other material posted or sent by users of the Service, and are not responsible for any content of these messages or materials, we reserve the right, but are not obligated, to delete, move, or edit messages, content, or materials, including without limitation profiles, public postings and messages, that we, in our sole discretion, deem to violate the Code of Conduct set out above or any other applicable content guidelines, or to be otherwise unacceptable. You shall remain solely responsible for the content of profiles, public postings, messages and other materials you may upload to the Service or users of the Service.</p>

<p>DISCLAIMER OF WARRENTIES AND LIMITATION OF LIABILITY</p>

<p>YOU UNDERSTAND AND AGREE THAT YOU USE KALJAA.COM AND ITS RELATED SERVICES AT YOUR OWN RISK. Dew-Boms L.L.C. SERVICES ARE PROVIDED ON AN "AS IS" BASIS WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF TITLE, NON-INFRINGEMENT, OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE INCAPABLE OF EXCLUSION UNDER LAW.</p>

<p>YOU ACKNOWLEDGE THAT USE OF THE SERVICE IS AT YOUR OWN RISK. WE DO NOT REPRESENT OR ENDORSE THE ACCURACY OR RELIABILITY OF ANY MEMBER PROFILE, ADVICE, OPINION, STATEMENT OR OTHER INFORMATION DISPLAYED, UPLOADED OR DISTRIBUTED THROUGH THE SERVICE BY KALJAA, OUR PARTNERS OR ANY USER OF THE SERVICE OR ANY OTHER PERSON OR ENTITY. YOU ACKNOWLEDGE THAT ANY RELIANCE UPON ANY SUCH OPINION, MEMBER PROFILE, ADVICE, STATEMENT OR INFORMATION SHALL BE AT YOUR SOLE RISK. YOUR CONTINUED USE OF THE SERVICE NOW, OR FOLLOWING THE POSTING OF NOTICE OF ANY CHANGES IN THIS AGREEMENT, WILL CONSTITUTE A BINDING ACCEPTANCE BY YOU OF THIS AGREEMENT, OR ANY SUBSEQUENT MODIFICATIONS.</p>

<p>YOU HEREBY ACKNOWLEDGE AND AGREE THAT UNDER NO CIRCUMSTANCES WILL KALJAA, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS AND THIRD PARTY CONTENT PROVIDERS OR LICENSORS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY LOSS WHATSOEVER CAUSED BY YOUR USE OR RELIANCE ON INFORMATION OBTAINED THROUGH THE CONTENT DISTRIBUTED BY KALJAA AS WELL AS ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OR INJURY ARISING OUT OF THE USE OR INABILITY TO USE THE KALJAA SERVICE OR OUT OF THE BREACH OF ANY WARRANTY, OR CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO AND/OR ALTERATION OF THE KALJAA.COM WEBSITE, NO MATTER WHETHER SUCH CLAIMS ARE BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER CAUSE OF ACTION, AND REGARDLESS OF WHETHER KALJAA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<p>SOME JURISDICTIONS LIMIT THE AVAILABILITY OF SUCH LIMITATION OF LIABILITY, IN WHICH CASE THE PROVISIONS OF THIS SECTION MAY NOT APPLY TO YOU. NOTWITHSTANDING THE FOREGOING, IN NO EVENT SHALL OUR LIABILITY EXCEED THE SUM OF $100.00 U.S. DOLLARS.</p>

<p>Termination of Access to Service:</p>

<p>We may, in our sole discretion, terminate or suspend your access to all or part of the Service at any time, with or without notice, for any reason, including, without limitation, breach of this Agreement. Without limiting the generality of the foregoing, any fraudulent, abusive, or otherwise illegal activity, or that may otherwise affect the enjoyment of the Service or the Internet by others may be grounds for termination of your access to all or part of the Service at our sole discretion, and you may be referred to appropriate law enforcement agencies. </p>

<p>Proprietary Information:</p>

<p>The Service contains information which is proprietary to us, our partners, and our users. We assert full copyright protection in the Service. Information posted by us, our partners or users of the Service may be protected whether or not it is identified as proprietary to us or to them. You agree not to modify, copy or distribute any such information in any manner whatsoever without having first received the express written permission of the owner of such information</p>

<p>Indemnity:</p>

<p>You hereby agree to indemnify, defend and hold harmless KALJAA and all officers, directors, owners, agents, information providers, affiliates, licensors and licensees (collectively, the "Indemnified Parties") from and against any and all liability and costs, including, without limitation, reasonable attorneys' fees, incurred by the Indemnified Parties in connection with any claim arising out of any breach by you of this Agreement or the foregoing representations, warranties and covenants. You shall cooperate as fully as reasonably required in the defense of any such claim. KALJAA reserves the right, at its own expense, to assume the exclusive defense and control of any matter subject to indemnification by you.</p>

<p>Disputes:</p>

<p>This Agreement represents the entire agreement between you and Dew-Boms L.L.C. regarding the use of our services and supersedes any other agreement or understanding on the subject matter. This Agreement, your rights and obligations, and all actions contemplated by this Agreement shall be governed by the laws of the Virgina, United States of America. As a condition of using Kaljaa.com's services, each user agrees that any and all disputes and causes of action arising out of or connected with Kaljaa.com, shall be resolved through arbitration, with such arbitration to be held in Virginia, United States of America.</p>

<p>Additionally, except where prohibited by law, as a condition of using Kaljaa.com services, you agree that any and all disputes and causes of action arising out of or connected to our services shall be resolved individually, without resort to any form of class action. You also agree that regardless of any statute or law to the contrary, any claim or cause of action arising from or related to the use of Kaljaa.com must be filed within one (1) year after such claim or cause of action arose or be forever barred. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.</p>

<p>If any provision of this Agreement is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect and be enforceable</p>

<p>Services non Payment:</p>

<p>Where payment is required for a service and we are unable to charge your credit card for any reason, we may discontinue any and all service to you either temporarily or permanently.</p>

<p>Defintions:</p>

<p>"You" refers to the user of this website and its related services, and as such you have gained the right to use this website by respecting the applicable Terms of Use described in detail below.</p>

<p>Dew-Boms L.L.C. is the exclusive owner and Operator of Kaljaa.com (the website)</p>

<p>By "us," "we" and "our" we mean Kaljaa.com</p>

<p>"Service(s)" refers to your use of Kaljaa.com for any purpose whatsoever.</p>

</div></div>
