#graphic img {
	width: 750px;
	height: 90px;
}

#features {
	padding-top: 42px;
}
#features .header {
	color: rgb(102, 26, 9);
	font-weight: bold;
	font-size: 14px;
	padding-left: 5px;
}
.feature-column {
	float: left;
	padding: 0 15px;
}
.feature-list {
	width: 344px;
	background: 1px solid black;
	padding-top: 10px;
}

.feature {
	padding: 8px 8px 12px;
}
.feature.dark {
	background: #bebebe;
}
.feature.light {
	background: #cecece;
}

.feature .preview {
	font-size: 11px;
	color: #444;
	font-style: italic;
}
.feature .ratebar {
	float: right;
}
.feature .titlebar {
	line-height: 18px;
}
.feature a {
	color: rgb(102, 26, 9);
}
.feature span {
	display: inline-block;
}
.feature .time {
	padding-left: 6px;
}

#search {
	margin-top: 20px;
}
#search-results {
	margin-top: 10px;
	background: #d6d6d6;
	min-height: 70px;
	padding: 10px;
	position: relative;
}
#search-results .header {
	font-size: 16px;
	color: rgb(102, 26, 9);
	margin-bottom: 22px;
}
#search-results table {
	color: rgb(102, 26, 9);
	position: absolute;
	top: -19px;
	right: 8px;
}
#search-results th {
	padding: 2px;
}
#search-results td {
	text-align: center;
	padding: 5px;
	cursor: pointer;
}
#search-results td.active {
	cursor: default;
	border: 1px solid #661a09;
	padding: 4px;
	background: #ddd;
}

.result {
	margin-top: 8px;
}
.result img {
	height: 80px;
	width: 80px;
	float: left;
	margin-right: 6px;
}
.result .info {
	float: left;
}
.result .title {
	color: rgb(122, 36, 19);
	font-size: 14px;
}
.result .time {
	display: inline-block;
	margin-left: 4px;
}
.result .ratebar {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}
.result .preview {
	margin-top: 4px;
	width: 650px;
}
.ad-pad {
	width: 100px;
	height: 155px;
}

.type {
	border: 1px solid #661a09;
	margin-top: 2px;
	padding: 2px;
	display: inline-block;
}
.type.social {
	background: #dcc;
}
.type.media {
	background: #cdc;
}
.type.brewery {
	background: #ccd;
}
