<div class="row spacer">
</div>
<h4>Map</h4>
<div class= "row border"></div>
<% if current_user.admin? || current_user?(@account) %>
	<%if !Location.exists?(profile_id: @profile.id) %>

	<% else %>


	<%= link_to 'Edit Distribution/locations',  edit_location_path(@location_present) %>
	<% end %>

<% else %>


<% end %>
