<div id="footer">
	<%= link_to "Terms of Service", terms_path %>
	<%= link_to "Privacy", privacy_path %>
	<a>Kaljaa &#169 2011</a>
	<%= link_to "FAQ", faq_path %>
	<%= link_to "Support", support_path %>
</div>
