<div id="info"><div class="content"><div class="clearfix" style="width: 100%;">
	<div>
		<div id="reg-info">
			<a href="/"><%= image_tag("logo-big.gif", {:id => "logo-med"}) %></a>
			<div id="medium-slogan"><%=@slogan%></div>
		</div>
		<div id="login">
			
		</div>
	</div>
	<div id="profile-text" class="clearfix">
		Social Profile:
		<p>Welcome to Kaljaa! Kaljaa is a social network design to specifically to cater almost every aspect of the beer and brewery industry.   This site is for everyone who enjoys beer.  With Kaljaa you can connect to all aspects of the Beer Industry and Culture, such as Brewerys, Media/Critics, other beer lovers, Suppliers/Distributors, and Stores/Restaurants.  You also can see up to date news, blogs, beer reviews/releases, beer fun, etc.</p>
	</div>
</div></div></div>
<div id="secondary" class="content">
</div>
